Practicas/HelloWorld/.vs
Practicas/HelloWorld/HelloWorld.sln
Practicas/HelloWorld/HelloWorld/bin
Practicas/HelloWorld/HelloWorld/obj
Practicas/HelloWorld/HelloWorld/Properties
Practicas/HelloWorld/HelloWorld/App.config
Practicas/HelloWorld/HelloWorld/HelloWorld.csproj
*.exe

# Archivos generados por compilacion y dependencias
bin
bin/*
obj
obj/*